.error-screen {
  background-color: red !important;
}

.screen {
  background-color: black;
  border-radius: 0.3rem;
  padding: 1rem 1rem;
  min-height: 150px;
}

.action-label {
  font-family: "Digital7";
  text-transform: uppercase;
  font-size: 2rem;
  color: #2dfc34;
}

.error-label {
  font-family: "Digital7";
  text-transform: uppercase;
  font-size: 2rem;
  color: #2dfc34;
}