@import '../../assets/style/variables';

.balance {
  font-family: "Digital7";
  text-transform: uppercase;
  font-size: 2.5rem;
  color: $digital-font-color;
}

.balance-container {
  padding: 0.5rem 1rem;
  background-color: $display-background;
  margin-bottom: 1.5rem;
  border-radius: 0.3rem;
}

.main-container {
  padding: 0;
  margin-bottom: 2rem;
}